body {
    font: 20px Verdana, sans-serif;
}

.navbar {
    background-color: #33ec8f;
}

.quem-somos {
    background-color: rgb(241, 143, 13);
}

.margin {
    padding-top: 20px;
    padding-bottom: 30px;
}

.btn {
    background-color: rgb(136, 159, 201);
}

.parceiros {
    background-color: #ffffff;
    margin: auto;
}

.serviços {
    background-color: aquamarine;
    margin: auto;
}

.footer {
    background-color: cornflowerblue;
    color: aliceblue;
    padding-top: 12px;
    padding-bottom: 1px;
}